*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* border: 1px solid red;  */
}

/* UTILITY */

.flex{
    display: flex;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.flex-between{
    display: flex;
    justify-content:space-between;
}

/* /UTILITY */


.container{
    height: 300vh;
    background-color: black;
    display: flex;
    flex-direction: column;

}

.grid, .maximize{
    background-color: gray;
    padding: 4px 3px;
    margin: 5px 5px;
    border-radius: 3px;
}

main{
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.card{
    width: calc(100%/7);
    padding: 5px 5px;
    position: relative;
}

.card img {
    width: 100%;
   
}

.profile{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 2px 1px;
}


