*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* UTILITY */

.flex{
    display: flex;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.flex-between{
    display: flex;
    justify-content:space-between;
}

/* /UTILITY */


.container{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;

}

.grid, .maximize{
    background-color: gray;
    padding: 4px 3px;
    margin: 5px 5px;
    border-radius: 3px;
}

main{
    flex-grow: 1; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: auto;
}

.card{
    width: calc(100%/7);
    padding: 5px 5px;
    position: relative;
}

.card img {
    width: 100%;
}

.profile{
    position: absolute;
    bottom: 10px;
    left: 5px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 2px 1px;
}

footer{
    padding: 5px 5px; 
    background-color: gray;
    align-items:center;

}

.icon-footer{
    text-align: center;
}

.sizing{
    align-items: center;
    margin-right: 20px;
}

.fa-share-from-square:hover{
    color: green;
}

.end-meeting{
    padding: 20px 6px;
    background-color: black;
    
}

.end-meeting >span{
    color: red;
}